.git
pAgent
.next
generated
node_modules
npm-debug.log
.env
.env.*
!.env.example
!.env.production.example
storage/uploads/*
!storage/uploads/.gitkeep
storage/templates/*
!storage/templates/.gitkeep
storage/examples/*
!storage/examples/.gitkeep
tsconfig.tsbuildinfo
git
main
